@use '../helpers' as *;

.socia1s {

    &__list {
        display: flex;
        column-gap: rem(20);

        @include mobile {
            column-gap: rem(14);  
        }
    }

    &__link {
        color: var(--color-ligth);
    }
}